body {
    background-color: #F5F5F5 !important;
}

.container {
    min-height: 100vh;
    background-color: #F5F5F5 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-img-title {
    height: 600px;
    width: auto;
    object-fit: cover;
}

.title_text {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz-card {
    width: 30rem;
}

.new_card {
    display: flex;
}

.card-body2 {
    display: flex;
    justify-content: space-between;
}

.icons_cont {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.icon {
    height: 45px;
}

.progress-bar {
    background-color: #4057C6 !important
}

.question-footer {
    border-top: 1px solid rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.card_answer:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.bg-success, .bg-danger {
    color: white;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 10px;
}

/* footer */
.footer {
    width: 350px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer_info a {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.atribute {
    display: flex;
   justify-content: center; 
   font-size: 10px;
}